footer.footer
	.row
		.footer__number.col-sm-9
			span
				| 8-800-777-3535 
			| мой номер
		div
			img(src="images/logo_footer.png", alt="logo")
		div
				a(href="#")
					| Разработка сайта
				| —
				br 
				| Студия «БиСтайл»