nav.nav
	a(href="#")
		img(src="images/nav_01.png", alt="")
		| ПОРТФОЛИО
	a(href="#")
		img(src="images/nav_02.png", alt="")
		| TWITTER
	a(href="#")
		img(src="images/nav_03.png", alt="")
		| FACEBOOK
	a(href="#")
		img(src="images/nav_04.png", alt="")
		| VK
	a(href="#")
		img(src="images/nav_05.png", alt="")
		| GOOGLE+